@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat";
  background: #5584ac;
  min-height: 100vh;
  min-width: 100vw;
}
h2 {
  color: #95d1cc;
  padding-top: 10vh;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.9);
}

@media (max-width: 1024px), (orientation: landscape) {
  .App {
    min-width: 100vw;
    min-height: 100vh;
  }
}
